/app/_ide_helpers.php
/app/config/local
/app/storage/debugbar
/bootstrap/compiled.php
/vendor
/uploads/*
sami.phar
composer.phar
composer.lock
.env.*.php
.env.php
Thumbs.db
.DS_Store
composer.phar
composer.lock
node_modules/
themes/backend/*
!.gitkeep
!*.example
*.bak

/workbench/subbly/framework
/workbench/subbly/backend
/workbench/subbly/frontage