
// Typo
// ----------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

  // font large
.f-lrg {
  font-size: @font-size-large;
}

  // font small
.f-sml {
  font-size: @font-size-small;
}

// Color
// ----------------------

.c-blk {
  color: @black;
}