
//
// Typo
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-size: @font-size-base;
  font-weight: normal;
}

  // font base
.f-bas {
  font-size: @font-size-base;
}

  // font title
.f-ttl {
  font-size: @font-size-title
}

  // font large
.f-lrg {
  font-size: @font-size-large;
}

  // font small
.f-sml {
  font-size: @font-size-small;
  letter-spacing: -0.02em;
}

//
// Color
// --------------------------------------------------

  // color black
.c-blk {
  color: @black;
}

  // base color
.c-bas {
  color: @text-color;
}

  // color danger
.c-dgr {
  color: @brand-danger;
}

.bkgd-wht {
  background: @white;
}

//
// Content padding rules
// --------------------------------------------------

  // content global padding
.c-pdg {
  padding: @content-padding;
}
  // vertical
.c-pdg-v {
  padding-bottom: @content-padding;
  padding-top: @content-padding;
}
  // horizontal
.c-pdg-h {
  padding-left: @content-padding;
  padding-right: @content-padding;
}

.c-pdg-t {
  padding-top: @content-padding;
}

.c-pdg-r {
  padding-right: @content-padding;
}

.c-pdg-b {
  padding-bottom: @content-padding;
}

.c-pdg-l {
  padding-left: @content-padding;
}

  // contant padding base
.c-pdg-bas {
  padding: @padding-large-vertical
}

  // contant padding base vertical
.c-pdg-bas-v {
  padding-bottom: @padding-large-vertical;
  padding-top: @padding-large-vertical
}

  // contant padding base horizontal
.c-pdg-bas-h {
  padding-left: @padding-large-vertical;
  padding-right: @padding-large-vertical;
}

.c-pdg-bas-t {
  padding-top: @padding-large-vertical
}

.c-pdg-bas-r {
  padding-right: @padding-large-vertical
}

.c-pdg-bas-b {
  padding-bottom: @padding-large-vertical
}

.c-pdg-bas-l {
  padding-left: @padding-large-vertical
}

.c-mrg-bas-l {
  margin-left: @padding-large-vertical
}

//
// Horizontal rule
// --------------------------------------------------

.hr {
  border: 0;
  border-top: 1px solid @border-ligth;
  display: block;
  height: 0;
  margin: @margin-large-vertical auto;

  &.full {
    margin-left: -40px;
    margin-right: -40px;
  }
}

//
// Dropdown caret
// --------------------------------------------------

.caret {
  border-left: @caret-width-base solid transparent;
  border-right: @caret-width-base solid transparent;
  border-top: @caret-width-base solid @gray;
  cursor: pointer;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

//
// Badges icon
// --------------------------------------------------

// Base class
.badge {
  background-color: @badge-bg;
  border-radius: @badge-border-radius;
  color: @badge-color;
  display: inline-block;
  font-size: @font-size-small;
  font-weight: @badge-font-weight;
  line-height: @badge-line-height;
  min-width: 10px;
  padding: 6px 8px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
  .btn-xs & {
    top: 0;
    padding: 1px 5px;
  }

  // Hover state, but only for links
  a& {
    &:hover,
    &:focus {
      color: @badge-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &.product {
    background: @product;
  }
}

//
// Bullet
// --------------------------------------------------


.bullet {
  background-color: #18b72e;
  border-radius: 5px;
  display: inline-block;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 10px;

  &.confirmed,
  &.paid,
  &.sent,
  &.draft {
    background-color: transparent;
  }

  &.waiting,
  &.warning {
    background-color: #ff9211;
  }

  &.danger,
  &.refused {
    background-color: @brand-danger;
  }
}

//
// Scroll to sticky
// --------------------------------------------------

.scrll-stck {
  position: relative;
}

.scrll-stck-cnt {
  background-color: @body-bg;
  position: relative;

  &.sticky {
    background-color: fade( @body-bg, 95% );
    left: 240px;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  // &:after {
  //   background-image: -moz-linear-gradient(top, @body-bg, fade(@body-bg, 0));
  //   background-image: -ms-linear-gradient(top, @body-bg, fade(@body-bg, 0));
  //   background-image: -o-linear-gradient(top, @body-bg, fade(@body-bg, 0));
  //   background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@body-bg), to(fade(@body-bg, 0)));
  //   background-image: -webkit-linear-gradient(top, @body-bg, fade(@body-bg, 0));
  //   background-image: linear-gradient(top, @body-bg, fade(@body-bg, 0));
  //   background-repeat: repeat-y;
  //   bottom: -8px;
  //   content: '';
  //   height: 8px;
  //   left: 0;
  //   position: absolute;
  //   width: 100%;
  // }
}

//
// Column list
// --------------------------------------------------

.cln-lst {
  border-bottom: 1px solid @border-ligth;
}
  // column list's row
.cln-lst-rw {
  .clearfix;
  cursor: pointer;
  border-top: 1px solid @border-ligth;
  height: 100px;

  &:hover {
    background: #f3f3f3;
    // border-top: 1px solid #f3f3f3; 
  }

  &.active {
    .bullet {
      background-color: @white;
    }
  }
}

  // column list's item
.cln-lst-itm {
  float: left;
  height: 100px;
}
  // resume time ago
.cln-lst-itm-tago {
  float: right;
  padding-right: @content-padding;
}

.cln-lst-blk {
  line-height: 100px
}

.cln-lst-load {
  text-align: center;
  
  span {
    line-height: 100px
  }
}

//
// Table List
// --------------------------------------------------

.table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//
// Products list
// --------------------------------------------------

.pdt-list {
  background: @white;
  border-radius: @border-radius-large;
  border: 1px solid @border;
  display: table;
  width: 100%;
}

.pdt-lst-itm {
  .clearfix;
  cursor: pointer;
  height: 70px;
  padding: 11px @padding-large-horizontal;
  line-height: 70px;
  position: relative;
  vertical-align: middle;
  width: 100%;

  & + .pdt-lst-itm:before {
    border-top: 1px solid @border;
    content: '';
    display: block;
    height: 1px;
    left: 1%;
    position: absolute;
    top: 0;
    width: 98%;
  }

  .thmb-list,
  .pdt-name,
  .pdt-price,
  .bullet {
    margin-left: 20px;
  }

  .icon-handler,
  .pdt-name,
  .pdt-price {
    line-height: 48px;
  }

  .icon-handler {
    cursor: -webkit-grab;
    cursor: grab;
  }

  .badge {
    background: @product;
    position: relative;
    top: 12px;
  }

  .bullet {
    position: relative;
    top: 18px;
  }

  .pdt-price {
    text-align: right;
    width: 80px;
  }
}

.pdt-name {
  color: @black;
  font-weight: bold;
}

//
// Products list
// --------------------------------------------------

.product-gallery {
  .center-block;
  width: @thumbnail-witdh
}
