
//
// Typo
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

  // font large
.f-lrg {
  font-size: @font-size-large;
}

  // font small
.f-sml {
  font-size: @font-size-small;
}

//
// Color
// --------------------------------------------------

.c-blk {
  color: @black;
}

//
// Horizontal rule
// --------------------------------------------------

.hr {
  border: 0;
  border-top: 1px solid @gray-darker;
  display: block;
  height: 0;
  margin: @margin-large-vertical auto;
}

//
// Dropdown caret
// --------------------------------------------------

.caret {
  border-left: @caret-width-base solid transparent;
  border-right: @caret-width-base solid transparent;
  border-top: @caret-width-base solid @gray;
  cursor: pointer;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

//
// Badges icon
// --------------------------------------------------

// Base class
.badge {
  background-color: @badge-bg;
  border-radius: @badge-border-radius;
  color: @badge-color;
  display: inline-block;
  font-size: @font-size-small;
  font-weight: @badge-font-weight;
  line-height: @badge-line-height;
  min-width: 10px;
  padding: 6px 8px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
  .btn-xs & {
    top: 0;
    padding: 1px 5px;
  }

  // Hover state, but only for links
  a& {
    &:hover,
    &:focus {
      color: @badge-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &.product {
    background: @product;
  }

  // // Account for badges in navs
  // a.list-group-item.active > &,
  // .nav-pills > .active > a > & {
  //   color: @badge-active-color;
  //   background-color: @badge-active-bg;
  // }
  // .nav-pills > li > a > & {
  //   margin-left: 3px;
  // }
}

//
// Products list
// --------------------------------------------------

.pdt-list {

  background: @white;
  border-radius: @border-radius-large;
  border: 1px solid @border;
  display: table;
  width: 100%;
    // display: flex;
    // flex-flow: row wrap;
}

.pdt-lst-itm {

  // .flex-direction(column);
  // .align-items(center);
  .clearfix;
  // height: 70px;
  // padding: 0 @padding-large-horizontal;
  position: relative;
  // vertical-align: middle;
  width: 100%;

  & + .pdt-lst-itm:before {
    border-top: 1px solid @border;
    content: '';
    display: block;
    height: 1px;
    left: 1%;
    position: absolute;
    top: 0;
    width: 98%;
  }

  & > *  {
    line-height: 70px
  }

  // .alg-l {
  //   .align-self(flex-start);
  //   .flex(1);
  //   .justify-content(center);

  //   &.icon-handler {
  //     cursor: move;
  //     line-height: 70px;
  //   }

  //   &.thmb-list {
  //     margin-left: 30px;

  //     .thmb-img {
  //       height: 48px; // Firefox don't get height: 100%
  //     }
  //   }

  //   &.pdt-name {
  //     line-height: 30px;
  //     margin-left: 100px;
  //   }
  // }

  // .alg-r {
  //   // .align-self(flex-end);
  //   // float: right;
  // }
  
  // .badge {
  //   .transform( translate(0, -50%));
  //   position: absolute;
  //   right: 100px;
  //   top: 50%;
  // }
}

.pdt-name {
  color: @black;
  font-weight: bold;
}
