
.feedback-overlay {
  .transitionBlocks( ~"visibility 0s linear 0.5s,opacity 0.5s linear");
  background: rgba(0,0,0,.5) url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility:hidden;
  z-index: ( @zindex-higher - 10 );

  &.show {
    .transition-delay(0s);
    opacity: 1;
    visibility:visible;
  }
}


.feedback {
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale3d(0,0.3,1); 
  .transition( all, 300ms );
  // .transitionBlocks( ~"background linear 300ms, color linear 300ms" );
  background: #fff;
  color: #7a7264;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 90%;
  left: 0;
  line-height: @line-height-base;
  opacity: 1; 
  padding: @margin-large-vertical;
  position: fixed;
  top: 0;
  transform-origin: 0 0;
  transform: scale3d(0,0.3,1);
  width: 100%;
  z-index: @zindex-higher;

  &.show {
    -webkit-animation-name: animLoad;
    animation-name: animLoad;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;

    .feedback-inner {
      // -webkit-animation-name: animFadeMove;
      // animation-name: animFadeMove;
      // -webkit-animation-timing-function: ease-out; 
      // animation-timing-function: ease-out;
    }
  }

  &.done {
    opacity: 1; 
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);

    .feedback-inner {
      opacity: 1; 
      -webkit-transform: translate3d(0,0,0); 
      transform: translate3d(0,0,0);
    }
  }

  &.hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-name: animFade;
    animation-name: animFade;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }

  // States
  &.success,
  &.error {
    color: @white
  }

  &.success {
    background: @green
  }

  &.error {
    background: @red
  }
}

.feedback-inner {
  .transition( all, 300ms);
  position: relative;
  opacity: 0; 
  -webkit-transform: translate3d(0,10px,0); 
  transform: translate3d(0,10px,0);
  // -webkit-animation-fill-mode: both;
  // animation-fill-mode: both;
  // -webkit-animation-duration: 0.3s;
  // animation-duration: 0.3s;
  // -webkit-animation-delay: 2.4s;
  // animation-delay: 2.4s;
}

@-webkit-keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

@-webkit-keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

