
//
// Orders resume
// --------------------------------------------------

  // orders resume status
.ordr-sts {
  text-align: center;
  width: @list-status-width;
}

  // orders resume details 
.ordr-dtls {
  padding-top: @font-size-large
}

  // orders resume row
.ordr-row {
  
  &.active {
    background: @product;
    border-top: 1px solid @product; 

    & * {
      color: @white !important;
    }
  }
}

//
// Order Details
// --------------------------------------------------

.ord-lst {
  border-top: 1px solid @border-ligth;
  margin: @margin-large-vertical 0;
  width: 100%
}

.pdt-dtls {
  display: block;
  float: left;
  padding-left: @padding-large-horizontal;
}

.pdt-dtls-lst {
  padding: @padding-base-vertical 0
}

.pdt-label {
  display: inline-block;
  width: 75px;
}

.ord-lst-rw {
  padding: @padding-large-vertical 0;
}

.ord-dtls {

  .thmb-list {
    border: 1px solid @border;
    overflow: hidden;
  }
}

.ord-lst {

  .ord-rw-itm {
    padding: 0 7px;
  }
}

.ord-pdt-dtl {
  .clearfix;
  float: left;

  .ord-rw-itm {
    display: block;
  }
}

.ord-lst-rw {
  .clearfix;

  & + .ord-lst-rw {
    border-top: 1px solid @border-ligth;
  }

}

.ord-pdts-lst {
  width: 100%;
}

@media screen and (min-width: 1280px){
  .pdt-dtls {
    float: none;
  }
  .pdt-dtls-lst {
    float: right;
    padding-top: @padding-large-vertical;

    li {
      display: inline-block;
    }
  }

  .pdt-dtls-primary {
    float: left;
    padding-top: 7px;
    padding-left: 10px;
  }

  .pdt-label {
    display: none;
  }

  .pdt-qty {
    text-align: center;
    width: 50px;
  }

  .pdt-total {
    min-width: 80px;
    text-align: right;
  }
}

//
// Order Total Detail
// --------------------------------------------------

.ord-ttl-dts {
  background: #faf6e6;
  border-radius: @border-radius-large;
  padding: 25px 30px;
}
