

// Borders
// --------------------------------------------------

// border less
.br-l { border:none !important; }

// Clear
// --------------------------------------------------

.cl-b { clear:both !important;  }
.cl-l { clear:left !important;  }
.cl-r { clear:right !important; }
.cl-f { .clearfix }

// Display
// --------------------------------------------------
    
.dp-b  { display:block !important; }
.dp-n  { display:none !important;  }
.dp-i  { display:inline !important; }
.dp-ib { display: inline-block !important; }

.visible { visibility:visible !important; }
.hidden { visibility:hidden !important; }

// Float
// --------------------------------------------------

.fl-l { float: left !important; }
.fl-r { float: right !important; }
.fl-n { float: none !important; }

// float fixer
.fl-f {
    overflow:hidden;
    width:100%;
}

// Font style
// --------------------------------------------------
    
.strong { font-weight: bold !important; }
.italic { font-style:  italic !important; }
.normal { font-weight: normal !important; }

.uppercase  { text-transform:uppercase !important; }
.lowercase  { text-transform:lowercase !important; }
.capitalize { text-transform:capitalize !important; }

.deco-none      { text-decoration:none !important; }
.deco-underline { text-decoration: underline !important; }

.ta-r { text-align:right !important; }
.ta-l { text-align:left !important; }
.ta-c { text-align:center !important; }
.ta-j { text-align:justify !important; }

.word-wrap {
    word-wrap: break-word;
    overflow-wrap:break-word;
}


// Position
// --------------------------------------------------

.pos-a { position: absolute !important; }
.pos-r { position:relative !important; }

// Cursor
// ---------------------------------------------------

.cur-p { cursor: pointer !important; }
.cur-d { cursor: default !important; }
