
.artpack {
	background-image: url(../img/artpack.png);
	background-repeat: no-repeat;
}

.border-radius {
	-webkit-border-radius: 4px; 
	   -moz-border-radius: 4px; 
	        border-radius: 4px; 
}

[class^="icon-"], 
[class*=" icon-"] {
	background-image: url(../img/artpack.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 16px;
}

.icon-tool {
	background-position: 0 -30px;
	height: 18px;
	line-height: 18px;
}

.icon-tool.active {
	background-position: -20px -30px;
}