
.font-black {
	color: #2a2a2a
}

.font-large {
	font-size: 16px;
}

.font-small {
	font-size: 12px
}

/* Icons sprite
------------------------------------- */

.artpack {
	background-image: url(../img/artpack.png);
	background-repeat: no-repeat;
}

/* Order status
------------------------------------- */

.status { 
	-webkit-border-radius: 8px; 
	   -moz-border-radius: 8px; 
	        border-radius: 8px; 
	display: block;
	height: 16px; 
	margin: 0 auto;
	width: 16px; 

}

.status.done {
	background-color: #85bf34; 
}

.status.waiting {
	background-color: #dda94f;
}

.status.problem {
	background-color: #dda94f;
}


/* Border Radius
------------------------------------- */

.br,
.subbly-form input,
.subbly-form textarea,
.subbly-form button,
.button,
.button-select select,
.group-button {
	-webkit-border-radius: 4px; 
	   -moz-border-radius: 4px; 
	        border-radius: 4px; 
}

.br-t {
	-webkit-border-top-right-radius: 4px;
	    -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	    -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
}

.br-tl {
	-webkit-border-top-left-radius: 4px;
	    -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
}

.br-tr {
	-webkit-border-top-right-radius: 4px;
	    -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
}

.br-r,
.group-button .button:last-child {
	-webkit-border-top-right-radius: 4px;
	    -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
	        border-bottom-right-radius: 4px;
}

.br-l,
.group-button .button:first-child {
	-webkit-border-top-left-radius: 4px;
	    -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
	        border-bottom-left-radius: 4px;	
}

.br-b {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
	        border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
	        border-bottom-left-radius: 4px;
}

.br-bl {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
	        border-bottom-left-radius: 4px;
}

.br-br {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
	        border-bottom-right-radius: 4px;
}

/* Tooltip
------------------------------------- */

.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	padding: 5px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}

.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
/*
.tooltip.top {
	margin-top: -3px;
}

.tooltip.right {
	margin-left: 3px;
}

.tooltip.bottom {
	margin-top: 3px;
}

.tooltip.left {
	margin-left: -3px;
}
*/
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	background-color: #5b5b5b;
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
}

/*
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #5b5b5b;
	border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #5b5b5b;
	border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #5b5b5b;
	border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #5b5b5b;
	border-width: 0 5px 5px;
}
*/

/* FONTS AND COLOR
------------------------------------- */

.title,
.sub-title {
	color: #2a2a2a;
	font-size: 26px;
	font-weight: 500;
}

.sub-title {
	font-size: 16px;
}

/* TABLES
------------------------------------- */

.table {
	border: 1px solid #cfd2d7;
	margin: 20px 0;
}


.table-body li {
	background: #fff;
	border-bottom: 1px solid #cfd2d7;
	clear: left;
	font-size: 12px;
	overflow: hidden;
	padding: 20px;
}


.table-body-no-footer li:last-child {
	border-bottom: 0;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

.table-head {
	background: #f2f3f5;
	border-top: 1px solid #cfd2d7;
	color: #6b6b6b;
	font-size: 12px;
	height: 40px;
	padding: 10px 20px;
}

.table-head li {
	display: block;
	float: left;
}

.table-footer {
	background: #fffbed;
	overflow: hidden;
	padding: 20px;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;

}


/* ICONS
------------------------------------- */

[class^="icon-"], 
[class*=" icon-"] {
	/*background-color: rgba(255, 0, 0, .3);*/
	background-image: url(../img/artpack.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin-top: 1px;
	vertical-align: text-top;
	width: 16px;
}

.icon-arrow-down-white {
	background-position: 0 -50px;
	height: 7px;
	width: 12px;
}

.icon-sent {
	background-position: -120px -70px;
	height: 15px;
	width: 19px;
}

.icon-print {
	background-position: -80px -30px;	
	height: 19px;
	width: 20px;
}

.icon-invoce {
	background-position: -100px -30px;
}

.button i.icon-invoce {
	margin-right: 0;
}

.icon-arrow-down {
	background-position: -40px -50px;
}

.icon-note {
	background-position: -160px 0;
	height: 18px;
	width: 22px;
}

.icon-email {
	background-position: -190px 0;
	width: 21px;
}

.icon-edit-big {
	background-position: -160px -50px;
}

.icon-edit-big-red {
	background-position: -140px -50px;
}

.icon-tool {
	background-position: 0 -30px;
	height: 18px;
	line-height: 18px;
}

.active .icon-tool {
	background-position: -20px -30px;
}

.icon-bold {
	background-position: 3px -68px;
}

.icon-italic {
	background-position: -15px -68px;
}

.icon-underline {
	background-position: -37px -68px;
}

.icon-color {
	background-position: -140px -70px;
	height: 17px;
	width: 27px;
}

.icon-img-small {
	background-position: -80px -70px;
	height: 17px;
	width: 23px;
}

.icon-img-large {
	background-position: -250px -90px;
	height: 28px;
	margin-top: -5px;
	width: 40px;
}

.icon-add-large {
	background-position: -120px -270px;
	height: 55px;
	width: 55px;
}

.icon-edit-large {
	background-position: 0 -270px;
	height: 55px;
	width: 55px;
}

.icon-help-large {
	background-position: -60px -270px;
	height: 55px;
	width: 55px;
}

.icon-cart-large {
	background-position: 0 -90px;
	height: 45px;
	width: 45px;
}

.icon-catalogue-large {
	background-position: -50px -87px;
	height: 40px;
	width: 26px;	
}

.icon-views-large {
	background-position: -100px -87px;
	height: 30px;
	width: 41px;	
}

.icon-visitors-large {
	background-position: -150px -90px;
	height: 35px;
	width: 39px;	
}

.icon-hangar-large {
	background-position: -300px -270px;
	height: 60px;
	width: 57px;
}