
#dashboard-summary,
#dashboard-order {
	height: 100%;
	padding: 25px;
}

#dashboard-summary {
	background: #fff;
	border-right: 1px solid #d8d9db;
	float: left;
	width: 52.77%;
}

#dashboard-order {
	float: left;
	width: 47.23%;
}

#dashboard-order .title {
	color: #a0a4af;
	font-size: 20px;
	font-weight: 500px;
	text-align: center;
}

#dashboard-shortcuts {
	background-color: #f2f3f5; 
	border: solid 1px #c5c8ce;

	-webkit-box-shadow: 0 2px 4px rgba(33,34,32,.11); 
	   -moz-box-shadow: 0 2px 4px rgba(33,34,32,.11); 
	        box-shadow: 0 2px 4px rgba(33,34,32,.11); 

	height: 104px;
	margin-bottom: 20px; 
}

#dashboard-shortcuts ul {
	height: 100%;
}

#dashboard-shortcuts li {
	border-right: solid 1px #c5c8ce;
	display: block;
	float: left;
	height: 100%;
	text-align: center;
	width: 33.33%;
}

#dashboard-shortcuts a {
	display: block;
	height: 100%;
	font-size: 16px;
	position: relative;
}

#dashboard-shortcuts a span {
	background-color: #c96a5b;
	background-color: rgba(201, 106, 91, .9);
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	-webkit-transition : opacity .2s ease-in-out;
	   -moz-transition : opacity .2s ease-in-out;
		 -o-transition : opacity .2s ease-in-out;
			transition : opacity .2s ease-in-out;
}

#dashboard-shortcuts a:hover span {
	opacity: 1;
}

#dashboard-shortcuts a span i {
	margin: 25px auto 0;
}

#dashboard-shortcuts a strong {
	color: #202124;
	display: block;
	font-size: 26px;
	font-weight: 500;
	padding-top: 35px;
}

#dashboard-shortcuts li:last-child {
	border-right: 0;
}

#last-order {
	background: #fff;
	border: 1px solid #c5c8ce;
	font-size: 13px;
	margin-bottom: 20px;
}

#last-order,
#last-order table {
	width: 100%;
}

#last-order tr td {
	border-bottom: 1px solid #c5c8ce;
	padding: 20px 0;
	text-align: center
}

#last-order tr:last-child td {
	border-bottom:0;
}	

#last-order a strong {
	color: #000;
}

#dashboard-order .button {

	background-color: #fff; 
	
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.04), rgba(255,255,255,.04));

	border: solid 1px #bdbdbd; 

	-webkit-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	   -moz-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	        box-shadow: 0 2px 4px rgba(33,34,32,.13); 

	font-weight: 500;
	line-height: 57px;
	height: 57px; 
	width: 100%; 
}