
.subbly-form {}

/* field holder
--------------------- */

.subbly-form .control-group {
	float: left;
	margin-bottom: 20px;
}

.subbly-form .control-group.label-inline {
	padding-top: 28px;
}

.subbly-form .control-group.small {
	width: 15%;
}

.subbly-form .control-group.medium {
	margin-right: 3%;
	width: 30.33%;
}

.subbly-form .control-group.large {
	margin-right: 3%;
	width: 47%;
}

.subbly-form .control-group.full {
	width: 97.33%;
}

/* label
--------------------- */

.subbly-form label {
	color: #737479;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 10px;
}

.subbly-form .toolbar {
	display: block;
	padding-bottom: 10px;
}

.subbly-form label.inline {
	display: inline-block;
	float: left;
	font-size: 13px;
	font-weight: normal;
	line-height: 42px;
	padding-bottom: 0;
	padding-right: 10px;
}


/* fields
-------------------- */

.subbly-form input,
.subbly-form textarea,
.subbly-form select {
	background: #fff; 
	border: solid 1px #c5c8ce;

	-webkit-box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 
	   -moz-box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 
	        box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 

	height: 42px; 

	-webkit-transition: border linear 0.2s, background linear 0.2s;
	   -moz-transition: border linear 0.2s, background linear 0.2s;
	     -o-transition: border linear 0.2s, background linear 0.2s;
	        transition: border linear 0.2s, background linear 0.2s;
	
	outline: none;
	padding: 0 5px;
	width: 100%;
}

.subbly-form textarea {
	height: 150px;
	resize: none;
}

.subbly-form select {
	width: auto;
}

.subbly-form input:focus,
.subbly-form textarea:focus {
	background: #fffbe9;
	border: solid 1px #dab158;
}

.subbly-form input.small {
	margin-right: 1.5%;
	width: 30.33%
}

@media only screen and (min-width : 1824px) {
	.subbly-form input.small {
		margin-right: 2.95%;
	}
}


.subbly-form input.small:last-child {
	margin-right: 0;
}

.subbly-form .label-inline input {
	float: left;
	width: auto;
}

.subbly-form .label-inline.medium input {
	width: 50%
}

/* input with button */

.input-prepend {
	border: solid 1px #c5c8ce;
	height: 42px;
	position: relative;
}

.input-prepend a {
	background-color: #f8f8f8; 
	border: solid 1px #c5c8ce;
	-webkit-box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 
	   -moz-box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 
	        box-shadow: inset 1px 1px 2px rgba(33,34,32,.14); 
	color: #737479;
	cursor: pointer;
	display: block;
	float: left
	font-size: 16px;
	font-weight: 500;
	height: 41px;
	left: -1px;
	line-height: 40px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: -1;
	width: 49px;
	z-index: 10;
}

.input-prepend input {
	border: 0;
	height: 40px;
	padding-left: 55px
}

/* hack ref */

.control-group.label-inline.sku {
	margin-right: 1.8%;
	width: 30.33%;
}


.subbly-form .label-inline.sku input {
	width: 80%
}

/* Button
------------------------------ */

.subbly-form button {
	background-color: #fff; 
	
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.04), rgba(255,255,255,.04)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.04), rgba(255,255,255,.04));

	border: solid 1px #bdbdbd; 
	
	-webkit-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	   -moz-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	        box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	
	color:#737479;
	height: 48px;
	font-size: 20px;
	font-weight: 500;
	margin-right: 15px;
	padding: 0 15px;
}

.subbly-form button:last-child {
	margin-right: 0;
}

.subbly-form button.important {
	background-color: #e08374;
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.12), rgba(255,255,255,.12));
	border: solid 1px #b14f40;

	-webkit-box-shadow: 0 2px 5px rgba(191,94,79,.5), inset 0 1px rgba(255,255,255,.3); 
	   -moz-box-shadow: 0 2px 5px rgba(191,94,79,.5), inset 0 1px rgba(255,255,255,.3); 
	        box-shadow: 0 2px 5px rgba(191,94,79,.5), inset 0 1px rgba(255,255,255,.3); 

	color:#fff;
}

/* Switch - checkbox, radio
------------------------------ */


.switch {
	background-color: #df8273; 
	background-image: -webkit-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -moz-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -o-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -ms-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: linear-gradient(to bottom, rgba(33,34,32,.13), rgba(255,255,255,.13));

	-webkit-box-shadow: inset 0 0 3px rgba(33,34,32,.39); 
	   -moz-box-shadow: inset 0 0 3px rgba(33,34,32,.39); 
	        box-shadow: inset 0 0 3px rgba(33,34,32,.39); 

	display: block;
	height: 42px; 
	width: 100%; 
}

.switch span {
	background-color: #fcfcfc; 
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fcfcfc); 
	background-image: -moz-linear-gradient(bottom, #f5f5f5, #fcfcfc); 
	background-image: -o-linear-gradient(bottom, #f5f5f5, #fcfcfc); 
	background-image: -ms-linear-gradient(bottom, #f5f5f5, #fcfcfc);
	background-image: linear-gradient(to top, #f5f5f5, #fcfcfc);
	
	border: solid 1px #c6c6c6;

	-webkit-box-shadow: 0 3px 5px rgba(33,34,32,.3), inset 0 1px rgba(236,219,239,.17); 
	   -moz-box-shadow: 0 3px 5px rgba(33,34,32,.3), inset 0 1px rgba(236,219,239,.17); 
	        box-shadow: 0 3px 5px rgba(33,34,32,.3), inset 0 1px rgba(236,219,239,.17); 

	color: #737479;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 500;
	height: 44px;
	left: 0;
	line-height: 42px;
	top: -1px;
	position: relative;
	text-align: center;
	width: 50%;

	-webkit-transition : left .2s ease-in-out;
	   -moz-transition : left .2s ease-in-out;
		 -o-transition : left .2s ease-in-out;
			transition : left .2s ease-in-out;
}

.switch.checked span {
	left: 50%
}