
/* Sidebar
-------------------------------------------------- */

#sidebar {
	width: 124px;
}


/* Logo
------------------------- */

#logo-subbly {
	display: none;
}

/* User Shortcuts
------------------------- */

#user-nav {
	height: auto;
	margin: 0 8.5% 15px;
	position: static;
}

#user-nav > div {
	background: none;
	border: none; 
	
	-webkit-box-shadow: 0 0 0, inset 0 0; 
	   -moz-box-shadow: 0 0 0, inset 0 0; 
	        box-shadow: 0 0 0, inset 0 0;

	position:static;
	width: 100%;
}

#user-nav h3 {
	line-height: 14px;
}

#user-nav a {
	display: block;
}

#user-nav h3[data-toggle]:after {
	content: '';
}

#user-nav h3 strong {
	color: #f0f0f0;
	display: block;
}


/* Shop Link
--------------------- */

#shop-direct-link {
	display: none;
}


/* Main navigation
--------------------- */

#main-nav {}

#main-nav:before {
	border-top: 1px solid #393b3e;
	content: '';
	display: block;
	height: 1px;
	margin: 0 8.5% 12px;
}

.main-nav-section {
	background-image: url(../img/artpack.png);
	background-repeat: no-repeat;
	height: 40px;
	margin: 0 auto 20px;
	text-indent: -9000px;
	width: 50px;
}

#nav-dashboard {
	background-position: 0 -140px;
}

#nav-dashboard.active {
	background-position: 0 -200px;
}

#nav-orders {
	background-position: -60px -140px;
}

#nav-orders.active {
	background-position: -60px -200px;
}

#nav-customers {
	background-position: -120px -140px;
}

#nav-customers.active {
	background-position: -120px -200px;
}

#nav-catalog {
	background-position: -180px -139px;
	height: 50px
}

#nav-catalog.active {
	background-position: -180px -200px;
}

#nav-shipping {
	background-position: -290px -140px;
}

#nav-shipping.active {
	background-position: -290px -200px;
}

#nav-settings {
	background-position: -230px -140px;
}

#nav-settings.active {
	background-position: -230px -200px;
}


#nav-hangar {
	background-position: -350px -140px;
}

#nav-hangar.active {
	background-position: -350px -200px;
}

.section-highlight {
	text-indent: 0;
}

#main-nav .sub-nav {
	display: none;
	padding: 8px 0;
}

#main-nav .sub-nav.open {
	display: none;
}

#subnav-popover {
	background-color: #202124; 
	border: solid 1px #212220;
	-webkit-box-shadow: 3px 4px 21px rgba(33,34,32,.48); 
	   -moz-box-shadow: 3px 4px 21px rgba(33,34,32,.48); 
	        box-shadow: 3px 4px 21px rgba(33,34,32,.48); 
	display: none;
	left: 140px;
	position: absolute;
	top: 130px;
	width: 275px;
	z-index: 1010;
}

#subnav-popover li {
	padding: 20px
}

#subnav-popover li:nth-child(even) {
	background-color: #2e3034; 
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.19), rgba(255,255,255,.19)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.19), rgba(255,255,255,.19)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.19), rgba(255,255,255,.19)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.19), rgba(255,255,255,.19)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.19), rgba(255,255,255,.19));
}

#subnav-popover a {
	color: #a0a4af;
	font-size: 20px;
	font-weight: bold;
}

#subnav-popover li:nth-child(even) a {
	color: #fff;
}

#subnav-popover .arrow,
#subnav-popover .arrow:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

#subnav-popover .arrow {
	top: 20px;
	left: -10px;
	border-right-color: #202124;
	border-width: 10px 10px 10px 0;
}


#subnav-popover .arrow:after {
	content: '';
	bottom: -11px;
	left: -1px;
	border-right-color: rgba(0, 0, 0, 0.25);
	border-width: 11px 11px 11px 0;
	z-index: -1;
}


#subnav-popover .menu-arrow,
#subnav-popover .menu-arrow:after {
	display: inline-block;
	width: 0; 
	height: 0;
}

#subnav-popover .menu-arrow {
	display: none;
}

#subnav-popover .menu-arrow:after {
	border-color: transparent;
	border-style: solid;
	border-right-color: #f2f3f5;
	border-width: 11px 11px 11px 0;
	content: '';
	left: -26px;
	top: 20px;
}



/* Developper tool
----------------------- */

#developper-tool-switch {
	height: 100px;
	margin-left: 20px
}

#developper-tool-switch a {
	margin-left: 2px;
}

/* Main Content
-------------------------------------------------- */

#content {
	left:124px;
	width: 900px;
}
