
/* Global
-------------------------------------------------- */
/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html,
body {
	background : #f2f3f5;
	color: #737479;
	font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	height : 100%;
	line-height:18px;
	min-height: 660px;
	min-width : 1000px;
	overflow : hidden;
	width : 100%;
}

/* links
------------------------- */

a {
	color: #737479;
	text-decoration : none
}

a:active,
a:focus {
	outline : none;
}

/* Lists
------------------------- */

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Content
------------------------- */

.content {
	position:static;
	min-width:980px;
}

#global {
	bottom: 0;
	min-width: 1000px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

.pane {
	bottom: 0;
	overflow:hidden;
	position:absolute;
	top: 0;

/*	-webkit-transition-property: width,left;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease-out;

	-moz-transition-property: width,left;
	-moz-transition-duration: 400ms;
	-moz-transition-timing-function: ease-out;*/
}


/* nano Scroll
------------------------- */

/** initial setup **/
.nano {
/*	position : relative;*/
	
	width    : 100%;
	height   : 100%;
	
	overflow : hidden;
}

.nano .pane-content {
	bottom : 0;
	left : 0;
	min-width : inherit;
	overflow : scroll;
	overflow-x : hidden;
	position : absolute;
	right : 1px;
	top : 0;
}

.nano .pane-content::-webkit-scrollbar {
	-webkit-appearance : none;
}

.nano > .track {
	background : rgba(0,0,0,.25);
	bottom : 5px;
	position : absolute;
	right : 2px;
	top : 5px;
	visibility : hidden;
	width : 5px;
	z-index: 1000;
}

.nano > .track > .slider {
	background :  rgba(0,0,0,.5);

	-webkit-border-radius : 3px;
	   -moz-border-radius : 3px;
			border-radius : 3px;

	margin : 0 1px;
	position : relative;
}

.nano:hover > .track, .track.active {
	visibility : visible;
}

.nano > .track {
	-webkit-transition : .2s;
	   -moz-transition : .2s;
		-ms-transition : .2s;
		 -o-transition : .2s;
			transition : .2s;

	-webkit-border-radius : 5px;
	   -moz-border-radius : 5px;
			border-radius : 5px;

	opacity : .01;
}

.nano:hover > .track,
.track.active {
	opacity : 1;
}


/* Sidebar
-------------------------------------------------- */

#sidebar {
	background: #202124;

	-webkit-box-shadow: 0 0 5px rgba(33,34,32,.28); 
	   -moz-box-shadow: 0 0 5px rgba(33,34,32,.28); 
	        box-shadow: 0 0 5px rgba(33,34,32,.28);

	left:0;
/*	min-height: 660px;*/
	width:20.5%;
}

#sidebar.nano .pane-content {
	bottom:58px;
}


/* Logo
------------------------- */

#logo-subbly {
	margin: 0;
}

#logo-subbly a {
	display: block;
	height: 20px;
	margin: 36px auto;
	width: 101px;
}


/* User Shortcuts
------------------------- */

#user-nav {
	height: 38px;
	margin: 0 8.5% 15px;
	position: relative;
	cursor: pointer;
}

#user-nav > div {
	background-color: #282a2f; 
	
	background-image: -webkit-linear-gradient(bottom, rgba(40,42,47,.06), rgba(255,255,255,.06)); 
	background-image: -moz-linear-gradient(bottom, rgba(40,42,47,.06), rgba(255,255,255,.06)); 
	background-image: -o-linear-gradient(bottom, rgba(40,42,47,.06), rgba(255,255,255,.06)); 
	background-image: -ms-linear-gradient(bottom, rgba(40,42,47,.06), rgba(255,255,255,.06)); 
	background-image: linear-gradient(to top, rgba(49,51,56,.12), rgba(255,255,255,.12));

	border: solid 1px #1b1c1e; 
	
	-webkit-box-shadow: 0 0 5px rgba(33,34,32,.18), inset 0 1px rgba(255,255,255,.1); 
	   -moz-box-shadow: 0 0 5px rgba(33,34,32,.18), inset 0 1px rgba(255,255,255,.3); 
	        box-shadow: 0 0 5px rgba(33,34,32,.18), inset 0 1px rgba(255,255,255,.1);

	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#user-nav h3,
#user-nav a {
	color: #9a9a9a;
	font-size: 12px;
	font-weight: normal;
}
#user-nav a:hover {
	color: #fff;
	
}

#user-nav h3 {
	margin: 0;
	padding: 10px;
	position: relative;
}

#user-nav a {
	display: block;
}

#user-nav h3[data-toggle]:after {
	color: #7c7d82;
	content: '▲';
	display: inline-block;
	font-size:80%;
	position: absolute;
	right:12px;
	top:10px;
	-webkit-transition : all .4s ease;
	   -moz-transition : all .4s ease;
		 -o-transition : all .4s ease;
			transition : all .4s ease;
}

#user-nav h3[data-toggle="close"]:after {
	-webkit-transform:rotate(-180deg);
	   -moz-transform:rotate(-180deg);
		 -o-transform:rotate(-180deg);
			transform:rotate(-180deg);
}

.ie #user-nav h3[data-toggle="close"]:after {
	content: '▼';
}


#user-nav h3 strong {
	color: #f0f0f0;
}

#user-nav ul {
	display: none;
}

#user-nav li {
	border-top: 1px solid #202124;
	padding: 11px 12px 12px;
}

/* Shop Link
--------------------- */

#shop-direct-link {
	color: #737479;
	display: inline-block;
	font-size: 12px;
	margin: 0 9% 15px;
}


/* Main navigation
--------------------- */

#main-nav {}

#main-nav:before {
	border-top: 1px solid #393b3e;
	content: '';
	display: block;
	height: 1px;
	margin: 0 8.5% 12px;
}

.main-nav-section {
	color: #9d9ea0;
	display: block;
	font-size: 18px;
	font-weight: 500;
	margin-left: 9%;
	padding-bottom: 12px;
}

.main-nav-section:hover,
.main-nav-section.active {
	color: #fff;
}

.section-highlight {
	background: #c96a5b;
	color: #fff;
	float: right;
	font-size: 11px;
	font-weight: bold;
	height: 18px;
	margin-right: 9%;
	text-align: center;
	width: 23px; 

	-webkit-transition : background .4s ease;
	   -moz-transition : background .4s ease;
		 -o-transition : background .4s ease;
			transition : background .4s ease;
}

.section-highlight:hover {
	background: #0da559;
}

#main-nav .sub-nav {
	display: none;
	padding: 8px 0;
}

#main-nav .sub-nav.open {
	display: block;
}

#main-nav .sub-nav li {
	display: block;
	height: 33px;
	position: relative;
}

#main-nav .sub-nav li.visible:hover { color: #FFF;  }
#main-nav .sub-nav li.visible.active {
	background-color: #e98c7e; 
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.12), rgba(255,255,255,.12)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.12), rgba(255,255,255,.12));

	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.3); 
	   -moz-box-shadow: inset 0 1px rgba(255,255,255,.3); 
	        box-shadow: inset 0 1px rgba(255,255,255,.3); 

}

#main-nav .sub-nav a {
	color: #929292;
	display: block;
	font-size: 13px;
	left: -100%;
	line-height: 33px;
	position: relative;

	-webkit-transition : left .3s ease-in-out;
	   -moz-transition : left .3s ease-in-out;
		 -o-transition : left .3s ease-in-out;
			transition : left .3s ease-in-out;
}

#main-nav .sub-nav.open .visible a {
	left: 11%;
}

#main-nav .sub-nav li:hover a,
#main-nav .sub-nav li.active a {
	color: #fff;
}

/* Developper tool
----------------------- */

#developper-tool-switch {
	background: #202124; 
	bottom:0;
	left: 0;
	padding: 10px 8.5% 20px;
	position: absolute;
	text-align: center;
	width: 100%
}

#developper-tool-switch > div {
	margin: 0 auto;
	text-align: left;
	width: 160px;
}

#developper-tool-switch .label {
	color: #7b7f8b;
	float: left;
	font-size: 12px;
	line-height: 24px;
	margin-right: 10px;
}

#developper-tool-switch a {
	background-color: #131416; 
	background-image: -webkit-linear-gradient(top, rgba(33,34,32,.10), rgba(255,255,255,.10)); 
	background-image: -moz-linear-gradient(top, rgba(33,34,32,.10), rgba(255,255,255,.10));  
	background-image: -o-linear-gradient(top, rgba(33,34,32,.10), rgba(255,255,255,.10));  
	background-image: -ms-linear-gradient(top, rgba(33,34,32,.10), rgba(255,255,255,.10)); 
	background-image: linear-gradient(to bottom, rgba(33,34,32,.13), rgba(255,255,255,.13));

	border-bottom: solid 1px rgba(165,165,165,.30); 
	border-right: solid 1px rgba(165,165,165,.20); 

	-webkit-box-shadow: inset 0 0 3px rgba(33,34,32,.75); 
	   -moz-box-shadow: inset 0 0 3px rgba(33,34,32,.75); 
	        box-shadow: inset 0 0 3px rgba(33,34,32,.75); 

	display: inline-block;
	height: 24px; 
	width: 72px;
	-webkit-transition : all .2s ease-in-out;
	   -moz-transition : all .2s ease-in-out;
		 -o-transition : all .2s ease-in-out;
			transition : all .2s ease-in-out;
}

#developper-tool-switch a.active {
	background-color: #cb6e5f;
	background-image: -webkit-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -moz-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -o-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -ms-linear-gradient(top, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: linear-gradient(to bottom, rgba(33,34,32,.13), rgba(255,255,255,.13));
}

#developper-tool-switch a span {
	background-color: #26272b; 
	background-image: -webkit-linear-gradient(bottom, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -moz-linear-gradient(bottom, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -o-linear-gradient(bottom, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: -ms-linear-gradient(bottom, rgba(33,34,32,.13), rgba(255,255,255,.13)); 
	background-image: linear-gradient(to top, rgba(33,34,32,.13), rgba(255,255,255,.13));

	border: solid 1px #17181a; 

	-webkit-box-shadow: 0 3px 5px rgba(33,34,32,.5), inset 0 1px rgba(236,219,239,.17); 
	   -moz-box-shadow: 0 3px 5px rgba(33,34,32,.5), inset 0 1px rgba(236,219,239,.17); 
	        box-shadow: 0 3px 5px rgba(33,34,32,.5), inset 0 1px rgba(236,219,239,.17); 

	display: block;
	height: 26px;
	left: 0;
	margin: -2px;
	position: relative;
	width: 35px;

	-webkit-transition : left .2s ease-in-out;
	   -moz-transition : left .2s ease-in-out;
		 -o-transition : left .2s ease-in-out;
			transition : left .2s ease-in-out;
}

#developper-tool-switch a.active span {
	left: 40px
}

#developper-tool-switch a span i {
	left: 50%;
	margin: -9px 0 0 -9px;
	position: absolute;
	top: 50%;
}


/* Main Content
-------------------------------------------------- */

#content {
	left:20.5%;
	width:79.5%;
}

.content-column {
	float: left;
	height: 100%;
	padding: 25px;
	position: relative;
}

.content-column-left {
	background: #fff;
	border-right: 1px solid #d8d9db;
	float: left;
}

/* Breadcrumb
----------------------- */

#breadcrumb {
	border-bottom: 1px solid #c5c8ce;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#breadcrumb li {
	display: inline-block;
	font-size: 15px; 
	text-shadow: 0 1px #fff;
}

#breadcrumb li:after {
	color: #767676;
	content: '-';
	display: inline-block;
	padding-left: 5px;
	padding-right: 0;
}

#breadcrumb a {
	color: #767676;
}

#breadcrumb li.active {
	font-weight: bold; 
	color: #2a2a2a;
}

#breadcrumb li.active:after {
	content: '';
}