
#orders-list-holder {
	width: 33%;
}


#orders-list-holder.nano .pane-content {
/*	bottom: 25px;
	left: 25px;
	padding-right: 35px;
	top: 25px;*/
}

#orders-summary,
#order-search,
#order-filters {
	padding: 25px 35px 5px 25px;
}

#order-search,
#order-filters {
	padding-top:0;
} 

#order-details {
	width: 72.18%
}

#orders-summary {
	font-size: 18px;
}

#orders-summary strong {
	display: block;
	font-size: 42px;
	line-height: 35px;
}

#orders-summary a {
	color: #737479;
	display: inline-block;
}


#orders-summary a:first-child {
	border-right: 1px solid #cfd2d7;
	margin-right: 10px;
	padding-right: 10px;
}

#orders-summary a.active,
#orders-summary a:hover {
	color: #202124;
}

/* Order filter
----------------------------- */

#order-filters {
	margin: 0;
	padding-bottom: 20px;
	position: relative;
}

#order-filters .icon-arrow-down {
	position: relative;
	left: 3px;
	top: 5px;
}

.order-filters-label,
.order-filters-selected {
	display: inline-block;
	font-size: 13px;
}

.order-filters-label {
	padding-right: 5px;
	width: 50px;
}

#order-filters-label {
	border: 1px solid #cfd2d7;
	color: #d79287;
	cursor: pointer;
	font-weight: 500;
	padding: 5px 12px;
	position: relative;
}

.open #order-filters-label {
	border-bottom: 1px solid #fff;
	-webkit-border-radius: 4px 4px 0 0; 
	   -moz-border-radius: 4px 4px 0 0; 
	        border-radius: 4px 4px 0 0; 
	z-index: 11;
}

.open #order-filters-label:before {
	bottom: -1px;
	background: #cfd2d7;
	content: '';
	height: 1px;
	position: absolute;
	left: -1px;
	width: 1px;
}

#order-filters-list {
	border: 1px solid #cfd2d7;
	-webkit-border-radius: 0 4px 4px 4px; 
	   -moz-border-radius: 0 4px 4px 4px; 
	        border-radius: 0 4px 4px 4px; 
	display: none;
	margin-left: 54px;
	position: absolute;
	top: 24px;
	z-index: 10;
	width: 72%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#order-filters-list {
		top: 23px;
	}
}

.open #order-filters-list {
	display: block;
}

#order-filters-list  li {
	background: #fff;
	border-bottom: 1px solid #cfd2d7;
	font-size: 12px;
	padding: 5px 12px;
}

#order-filters-list li:hover {
	background: #f2f3f5;
}

#order-filters-list li:first-child {
	-webkit-border-radius: 0 4px 0 0; 
	   -moz-border-radius: 0 4px 0 0; 
	        border-radius: 0 4px 0 0; 
}

#order-filters-list li:last-child {
	border-bottom: 0;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

/* Orders List
----------------------------- */

#orders-list {
	border-top: 1px solid #cfd2d7;
}

#orders-list li {
	border-bottom: 1px solid #cfd2d7;
}

#orders-list a {
	display: block;
	overflow: hidden;
	padding: 15px 0;
}

#orders-list a:hover {
	background: #f6f7f8;
}

.order-list-id,
.order-list-customer,
.order-list-date {
	display: block;
	float: left;
}

.order-list-id,
.order-list-date {
	font-size: 12px;
	width: 20%
}

.order-list-id {
	font-size: 11px;
	text-align: center;
}


.order-list-id .status {
	margin: 3px auto 2px;
}

.order-list-customer {
	width: 60%
}

.order-list-customer strong {
	display: block;
}

/* Customer Details
------------------------------ */

#order-details,
#customer-details {
	width: 67%;
}

#customer-details .button {
	height: 37px;
	line-height: 37px;
	padding: 0 11px;
}

#customer-tabs {
	padding: 25px;
	position: relative;
}

#customer-tabs a.tab-trigger {
	background: #f6f7f8;
	border: 1px solid #cfd2d7;
	border-bottom: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 30px 13px;
	position: relative;
	z-index: 10;
}

#customer-tabs a.tab-trigger.active {
	background: #fff;
	color: #2f2f2f;
	padding: 10px 30px;
	z-index: 20;
}


/* hack chrome, side effects on safari */
body:nth-of-type(1) #customer-tabs a.tab-trigger-profile.active {
	padding: 10px 30px 11px;
}

body:nth-of-type(1) #customer-tabs a.tab-trigger-order.active {
	padding: 10px 30px 9px;
}


#customer-tabs a.tab-trigger small {
	color: #b0b0b0;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 11px;
}

.customer-tab {
	display: none;
	position: relative;
	top: -4px;
	z-index: 15;
}


.customer-tab.show {
	display: block;
}

.customer-tab-content {
	background: #fff;
	border: 1px solid #cfd2d7;
	-webkit-border-radius: 0 4px 4px 4px; 
	   -moz-border-radius: 0 4px 4px 4px; 
	        border-radius: 0 4px 4px 4px; 
	width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.customer-tab-content {
		top: -3px;
	}
}

.customer-tab-content.order {
	-webkit-border-radius: 4px; 
	   -moz-border-radius: 4px; 
	        border-radius: 4px; 
}

.customer-general-details {
	padding: 35px 30px
}

.customer-general-details hr { 
	border: 0; 
	border-top: 1px solid #ccc;
	display: block; 
	height: 1px; 
	margin: 1em 0;
	padding: 0; 
}

.customer-notes {
	background: #fffbed;
	border: 1px solid #dab158;
	color: #816834;
	font-size: 12px;
	margin: 30px 0;
	padding: 20px
}

.customer-notes time {
	display: inline-block;
	padding-right: 13px;
}

.customer-notes time strong {
	color: #785e27;
}

#add-customer-note {
	border: 1px solid #cfd2d7;
	height: 42px;
	position: relative;
	width: 100%;
}

#add-customer-note span {
	background: #fff;
	border-right: 1px solid #cfd2d7;
	display: block;
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	padding: 10px 0 0 10px;
	width: 42px;
}

#add-customer-note input {
	border: 0;
	color: #7c7e84;
	font-size: 12px;
	font-style: italic;
	height: 32px;
	padding: 8px 5px 2px 50px;
	width: 95%;
}

#add-customer-note input:focus {
	font-style: normal;
}


.customer-addresses h3 {
	background: #fcfcfc;
	border-bottom: 1px solid #cfd2d7;
	color: #2a2a2a;
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	padding: 30px
}

.address-edit,
.address-id {
	-webkit-border-radius: 33px;
	   -moz-border-radius: 33px;
	        border-radius: 33px;
	display: inline-block;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: center;
	width: 30px
}

.address-id {
	background: #f6f7f8;
	color: #9fa5ac;
	float: left;
	font-size: 18px;
	font-weight: 500;
	margin-right: 20px;
}

.address-edit {
	background: #f8e5e3;
	float: right;
}

.address-name,
.address-details {
	display:block;
	float: left
}

.address-name {
	width: 20%
}

.address-details {
	width: 50%;
}


#delete-customer {

	border: solid 1px #bdbdbd; 

	-webkit-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	   -moz-box-shadow: 0 2px 4px rgba(33,34,32,.13); 
	        box-shadow: 0 2px 4px rgba(33,34,32,.13); 

	display: block;
	font-weight: 500;
	height: 57px; 
	line-height: 57px;
	text-align: center;
	width: 100%; 
}


#customer-orders-summary {}

#customer-orders-summary li {
	border-bottom: 1px solid #cfd2d7;
	font-size: 13px;
	overflow: hidden;
	padding: 15px 0;
}

#customer-orders-summary li:first-child {
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;	
}


.order-details-id,
.order-details-date,
.order-details-amount,
.order-details-items {
	display: block;
	float: left;
}

#customer-orders-summary strong {
	color: #202124;
	font-size: 18px;
}

#customer-orders-summary a.button {
	float: right;
	margin-right: 20px;
}

.order-details-id {
	text-align: center;
	width: 10%;
}

.order-details-id .status {
	margin: 1px auto 2px;
}

.order-details-date {
	width: 20%
}

.order-details-amount {
	width: 20%;
}

.order-details-items {
	width: 20%;
}

.orders-total {
	color: #222326;
	font-size: 30px;
	float: right;
	font-weight: 500;
	line-height: 40px;
	text-align: right;
}

/* Orders Destails
----------------------------- */

#order-details .pane-content {
	left: 25px;
	padding-right: 25px;
}

#order-details-header {
	padding-top: 25px;
}

.order-id {
	background: #dddfe3;
	color: #535e63;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;
	margin-top: 4px;
	padding: 4px 8px;
}

.order-header {
	background: #fcfcfc;
	padding: 30px;
}

.order-header time {
	color: #676767;
	font-size: 12px;
}

.order-header .payement {
	color:#2a2a2a;
	font-weight: 500;
}

.order .table-head li {
	text-align: center;
	width: 19.16%
}

.order .table-head li:first-child {
	text-align: left;
	width: 42.5%;
}

.order .table-body li {
	overflow: hidden;
}

.order .table-body span,
.order .table-body img {
	display: block;
	float: left;
}

.order .table-body span,
.order .product-desc strong {
	color: #202124;
	font-weight: bold;
	text-align: center
}

.order .table-body img {
	margin-right: 2.5%;
	width: 10%
}

.order .table-body span {
	padding-top: 20px;
	width: 19.16%
}

.order span.product-desc {
	color: #a2a2a6;
	font-weight: normal;
	padding-top: 0;
	text-align: left;
	width: 30%;
}

.order .product-desc strong {
	display: block;
	text-align: left;
}

.order-weight,
.order-delevry-mode,
.order-delevry-price {
	color: #796a5f;
	font-size: 14px;
}

.order-weight {
	font-weight: bold;
}

.order-delevry-price {
	color: #9a2cb1;
}

.order-addresses {
	color: #838383;
	font-size: 16px;
}

.order-addresses strong {
	color: #2a2a2a;
	font-weight: 500;
}

.order-addresses {
	background: #fff;
	border-top: 1px solid #CFD2D7;
	overflow: hidden;
	padding: 20px 40px;
}

.order-address {
	float: left;
	width: 50%;
}

.order-address h3 {
	color: #2a2a2a;
	font-size: 16px;
	font-weight: 500;
}

.order-address p {
	font-size: 12px;
}

#order-status {
	float: right;
	position: relative;
	top: -7px;
}

#order-status-label {
	background: #73af1e;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 10px;
	padding-right: 25px;
	position: relative;
	z-index: 10;
}

#order-status-label:after {
	background: url(../img/artpack.png) 0 -50px;
	content: '';
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 15px;
	height: 7px;
	width: 12px;
}

#order-status-label i.icon-sent {
	margin-right: 5px;
}

#order-status ul {
	background: #fff;
	border: 1px solid #CFD2D7;
	display: none;
	left: 0;
	padding-top: 10px;
	position: absolute;
	top: 20px;
	width: 100%;
	z-index: 1;
}

#order-status li {
	border-bottom: 1px solid #CFD2D7;
	font-size: 13px;
	padding: 10px;
}

#order-status li:last-child {
	border-bottom: 0;
}